.bordert {
  border-radius: 2.5rem;
}
 
.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
 

.heart-animation {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: heartBeat 1s ease-in-out;
  }
  
  @keyframes heartBeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(2.5);
    }
    100% {
      transform: scale(1);
    }
  }
  