 
body{
  overflow-x: hidden;
  background-color:   #111111;
}

body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #c8ff1d;
  --sb-size: 8px;

  scrollbar-color: transparent transparent;
}

 

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}
